.container__tile_green {
    cursor: pointer;
    border-radius: 0px 180px 0px 0px;
    background-color: rgb(73, 199, 0);
    box-shadow: 1px -6px rgb(0, 0, 0) inset, -1px 1px black inset;
}

.container__tile_green:active {
    box-shadow: 2px -4px black inset, -2px 2px black inset;
}

.activated {
    background-color: #FFF;
}