.button_start {
    text-decoration: none;
    height: 85px;
    margin: 0;
    padding: 0 30px;
    color: rgb(85, 85, 85);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid #bbb;
    cursor: pointer;
}

.button_start:hover {
    color: #333;
    border-color: #888;
}